<div class="raised segment ui">
  <h2 class="ui header">Demo Form: Sku</h2>
  <form #f="ngForm"
        (ngSubmit)="onSubmit(f.value)"
        class="ui form">
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             name="sku" ngModel>
    </div>
    <div class="field">
      <label for="theInput">The Input</label>
      <input type="text"
             id="theInput"
             placeholder="Lola"
             name="myInput" ngModel>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>

</div>
