<div class="ul raised segment">
  <h2 class="ui header">Demo Form: with validators (explicit)</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form"
        [class.error]="!myForm.valid && myForm.touched">
    <div class="field"
         [class.error]="!sku.valid && sku.touched">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="sku">
      <div *ngIf="!myForm.controls['sku'].valid"
           class="ui error message">SKU is invalid</div>
      <div *ngIf="sku.hasError('required')"
           class="ui error message">SKU is required</div>
      <div *ngIf="sku.hasError('invalidSku')"
           class="ui error message">SKU must begin with <span>123</span></div>
    </div>

    <div *ngIf="!myForm.valid"
         class="ui error message">Form is invalid</div>

    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
